@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;700;800&display=swap');

:root{
    --grey: rgba(255,255,255,0.5);
    --greyOnWhite: rgba(0,0,0,0.5);
    --orange: hsl(22, 64%, 57%);
    --black: #191919;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

.margin{
    margin: 0rem 7rem;
}

li{
    list-style-type: none;
}

h1{
    font-size: 3.5rem;
}

p{
    font-size: 1rem;
    line-height: 1.5;
    color: var(--grey);
    white-space: break-spaces;
}

a{
    text-decoration: none;
    color: black;
}

.marginTB{
    margin: 5rem 7rem;
}

.width100{
    width: 100% !important;
}

.height100{
    height: 100% !important;
}

.b-radius{
    border-radius: 0.5rem;
}

.childsMargin>*{
    margin-bottom: 1rem;
}

.white{
    color: white;
}

.newProduct {
    color: var(--grey);
    letter-spacing: 0.5rem;
}

.counter{
    height: 2.5rem;
    width: 2.5rem;
    background-color: #f1f1f1;
    cursor: pointer;
}

.counter:hover{
    filter: opacity(0.5);
}

.resDisplay{
  display: none;
}

@media only screen and (max-width: 900px){
    .resCenter{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
    }
    .flex-column{
        display: flex;
        flex-direction: column !important;
    }
    .flex-column-rev{
        flex-direction: column-reverse !important;
    }
    .resWidth{
        width: 100% !important;
    }
    .displayNone{
        display: none !important;
    }
    .display{
        display: block;
    }
    li{
        margin: 1rem 2rem;
    }
    .margin0{
        margin: 0rem !important;
    }
    .footer{
        height: 18rem !important;
    }
    .x9{
        height: 15rem !important;
        width: 13rem !important;
    }
    .resHeight{
        height: auto !important;
    }
    .prodImage{
      height: 30rem !important;
    }
    .yx1Height{
        height: 20rem !important;
    }
}

@media only screen and (max-width: 300px){
    :root {
        font-size: 9px;
    }
    .marginTB{
        margin: 5rem 1rem;
    }
    .margin{
        margin: 0rem 1rem;
    }
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
    :root {
        font-size: 12px;
    }
    .marginTB{
        margin: 5rem 1rem;
    }
    .margin{
        margin: 0rem 1rem;
    }
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
    :root {
        font-size: 14px;
    }
    .marginTB{
        margin: 5rem 2rem;
    }
    .margin{
        margin: 0rem 2rem;
    }
}