@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;700;800&display=swap');

:root{
    --grey: rgba(255,255,255,0.5);
    --orange: hsl(22, 64%, 57%);
    --black: #191919;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

.margin{
    margin: 0rem 7rem;
}

li{
    list-style-type: none;
}

h1{
    font-size: 3.5rem;
}

p{
    font-size: 1rem;
    line-height: 1.5;
    color: var(--grey);
}

a{
    text-decoration: none;
    color: black;
}

.marginTB{
    margin: 5rem 7rem;
}

.width100{
    width: 100%;
}

.height100{
    height: 100%;
}

.b-radius{
    border-radius: 0.5rem;
}

.childsMargin>*{
    margin-bottom: 1rem;
}

.white{
    color: white;
}