.homeContainer {
    height: 100vh !important;
    background: url("./../../public/assets/home/mobile/image-hero.jpg") center/contain no-repeat;
    background-color: var(--black) !important;
}

.home {
    height: 100vh;
    width: 23rem;
    flex-direction: column;
    align-items: flex-start;
}

.white {
    color: white;
}

.zx9SpeakerContainer {
    height: 37rem;
    background-color: var(--orange);
}

.zx9Speaker {
    align-items: flex-end;
    background: url("./../../public/assets/home/desktop/pattern-circles.svg") no-repeat;
    background-size: 95%;
    background-position-x: -300%;
    background-position-y: 30%;
    overflow: hidden;
}

.zx9Speaker>* {
    width: 50%;
}

.zx9 {
    height: 30rem;
    width: 25rem;
    position: relative;
    bottom: -0.5rem;
}

.zx9Detail {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.zx7Speaker {
    height: 20rem;
    flex-direction: column;
    align-items: flex-start;
    background: url("./../../public/assets/home/mobile/image-speaker-zx7.jpg") no-repeat;
    background-size: cover;
}

.zx7Speaker>*,
.yx1Detail>* {
    margin-left: 4rem;
}

.yx1Earphones {
    justify-content: space-between;
}

.yx1Earphones>* {
    width: 48.5%;
}

.yx1Detail {
    background-color: #f1f1f1;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (min-width: 992px) {
    .zx7Speaker {
        background: url("./../../public/assets/home/desktop/image-speaker-zx7.jpg") no-repeat;
    }
    .homeContainer {
        background: url("./../../public/assets/home/desktop/image-hero.jpg") center/contain no-repeat;
    }
}