.nav {
    height: 5.5rem;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 1px solid rgb(61, 61, 61);
}

.nav li {
    letter-spacing: 2px;
    margin-right: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}

.nav li:hover{
    color: var(--orange);
}

.title {
    height: 1.5rem;
    width: 9rem;
    margin-right: 0rem;
}